<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bhagat.finalyear">

    <!-- <uses-permission android:name="android.permission.CALL_PRIVILEGED"/> -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">

            <!-- android:launchMode="singleTop" it launches the new Activity in the same one without increasing the stack -->

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".Registration" />
        <activity android:name=".MakeRequest" />
        <activity android:name=".NearbyServices" />

        <!-- android:windowSoftInputMode="adjustPan"  Prevents keyboard from pushing widgets upward -->
        <activity
            android:name=".ProviderHome"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- This is to tell the activity where to find the searchable configuration -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity android:name=".Login" />

        <activity android:name=".ProviderTransactions">

        </activity>
    </application>

</manifest>