<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bhagat.finalyear">

    <!-- <uses-permission android:name="android.permission.CALL_PRIVILEGED"/> -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <!-- android:launchMode="singleTop" it launches the new Activity in the same one without increasing the stack -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Registration"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ConsumerHome" />
        </activity>
        <activity
            android:name=".MakeRequest"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ConsumerHome" />
        </activity>

        <!-- android:windowSoftInputMode="adjustPan"  Prevents keyboard from pushing widgets upward -->
        <activity
            android:name=".ProviderHome"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <!-- This is to tell the activity where to find the searchable configuration -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".Login"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsumerHome"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".OTPVerification"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            ></activity>

        <service
            android:name=".ProviderBackgroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ConsumerBackgroundService"
            android:enabled="true"
            android:exported="true" />



        <receiver android:name=".SMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
